main {
    background-color:#FFe6A7;
    border: thin solid black;
   height: auto;
   width: auto;



}
section{
    background-image: url(https://img.freepik.com/vector-premium/ilustracion-divertidos-dibujos-animados-perros-gatos-lindos-mejores-amigos_112554-246.jpg);
background-repeat: no-repeat;
background-size: cover;
height: auto;
width: auto;
}
.pez{
    image-orientation:unset;
}
/*background-image: url(https://img.freepik.com/vector-premium/ilustracion-divertidos-dibujos-animados-perros-gatos-lindos-mejores-amigos_112554-246.jpg);
background-repeat: no-repeat;
background-size: cover;*/
