/* Estilos para la barra de título */
.contactoTitle{
    background: #FFe6A7;
    font-family: "Lato";
    padding: 35px;
    margin-top: 35px;
}

/* Estilos para el main del contacto.html*/
main {
    font-family: "Lato";
    background-color:#FFe6A7;
    border: thin solid black;
    height: auto;
    width: auto;
    border-radius: 10px;
    padding: 20px;
    margin: 50px;
}
/* Estilos para el body del contacto.html*/
body{
    font-family: "Lato";
/*     background-image: url(https://img.freepik.com/vector-premium/ilustracion-divertidos-dibujos-animados-perros-gatos-lindos-mejores-amigos_112554-246.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: auto;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
/* Estilos para las etiquetas <label> del contacto.html*/
label{
    font-family: "Baloo 2";
    color: #432818;
    font-size: large;
}
/* Estilos para los iconos que están por encima de los campos en el archivo contacto.html*/
.imgIcon{
    padding: 4px;
}
