/* baloo-2-regular - latin */
@font-face {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    src: url('../src/fonts/balo/baloo-2-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../src/fonts/balo/baloo-2-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../src/fonts/balo/baloo-2-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../src/fonts/balo/baloo-2-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../src/fonts/balo/baloo-2-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../src/fonts/balo/baloo-2-v14-latin-regular.svg#Baloo2') format('svg'); /* Legacy iOS */
}

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../src/fonts/lato/lato-v23-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../src/fonts/lato/lato-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../src/fonts/lato/lato-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../src/fonts/lato/lato-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../src/fonts/lato/lato-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../src/fonts/lato/lato-v23-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

main {
    font-family: "Lato";
    background-color:#FFe6A7;
    border: thin solid black;
    height: auto;
    width: auto;
    border-radius: 10px;
    padding: 20px;
    margin: 50px;
}
body{
    font-family: "Lato";
/*     background-image: url(https://img.freepik.com/vector-premium/ilustracion-divertidos-dibujos-animados-perros-gatos-lindos-mejores-amigos_112554-246.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: auto;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
.pez{
    image-orientation:unset;
}
h1{
    text-align: center;
    font-family: "Baloo 2";
    color: #7F3122;
    margin: 20px;
}
label{
    font-family: "Baloo 2";
    color: #432818;
    font-size: large;
}
section{
    font-family: "Lato";
}

label{
    font-family: "Baloo 2";
}

.imgIcon{
    padding: 4px;
}
footer{
    color: #FFe6A7;
    background: #432818;
}
footer a:hover{
    color: #FFe6A7;
}
a{
    text-decoration: none;
    color: #FFe6A7;
}
.imgRedes:hover{
    transform: scale(.85);
}
.logoFooter{
    border-radius: 15px;
}
