/* baloo-2-regular - latin */
@font-face {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    src: url('../src/fonts/balo/baloo-2-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../src/fonts/balo/baloo-2-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../src/fonts/balo/baloo-2-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../src/fonts/balo/baloo-2-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../src/fonts/balo/baloo-2-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../src/fonts/balo/baloo-2-v14-latin-regular.svg#Baloo2') format('svg'); /* Legacy iOS */
}

/* lato-regular - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: url('../src/fonts/lato/lato-v23-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../src/fonts/lato/lato-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../src/fonts/lato/lato-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../src/fonts/lato/lato-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../src/fonts/lato/lato-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../src/fonts/lato/lato-v23-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

nav {
    background-color: #6F1D1B;
}

.navInf a {
    color: white
}

.navInf img {
    height: 50px;
    background-color: white;
}
body{
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.articulosCarrito{
    background-color:#FFE6A7;
}

.resumenCompra{
    background-color: #FFe6A7;
}
h1 {
    text-align: center;
    padding: 0.5em;
    color: #7F3122;
    font-size: 45px;
    font-family: "Baloo 2";
}

h2 {
    margin-left: 100px;
    color: #7F3122;
    margin-top: 55px;
    font-family: "Baloo 2";
}

article h3 {
    margin-left: 40px;
    color: #7F3122;
    font-family: "Baloo 2";
}

article p {
    margin-left: 40px;
    color: black;
    font-family: "Baloo 2";
    font-weight: 400;
}

section p {
    text-align: justify;
    font-family: serif;
    font-family: "Lato";
}


.p-2 bd-highlight {
    background-color: antiquewhite;
}


.cont2 {
    margin-top: 20px;
}

.cont3 {
    margin-top: 20px;
}

.cont4 {
    margin-top: 20px;
}

/* article{ margin: 0.5em 3em; padding: 0.5em 2em; background-color:#F0BC56 } */

.bd-highlight {
    background-color: #F0BC56;

}

.somosq h1 {
    color: #7F3122;
    font-size: 35px;
    font-family: "Baloo 2";
    text-align: center;

}

.gatito {

    width: 280px;
    height: 280px;
    margin-top: -150px;
    margin-left: 20%;

}

.gatito img {
    width: 280px;
    height: 280px;
}

.parrafoabout {
    background: #ffe7b7;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}

#aboutparrafo{
    border-radius: 20px;
    margin: 15px;
}

footer{
    color: #FFe6A7;
    background: #432818;
}
footer a:hover{
    color: #FFe6A7;
}
a{
    text-decoration: none;
    color: #FFe6A7;
}
.imgRedes:hover{
    transform: scale(1.25);
    transition: all 400ms;
}
.logoFooter{
    border-radius: 15px;
}
.logoHeader{
    border-radius: 15px;
}