/* baloo-2-regular - latin */
.bio p {
    font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/baloo-2-v14-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('./Font/balo'),
         url('../fonts/baloo-2-v14-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/baloo-2-v14-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/baloo-2-v14-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/baloo-2-v14-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/baloo-2-v14-latin-regular.svg#Baloo2') format('svg'); /* Legacy iOS */
}
.container{
    padding: 20px;
}
.containerCard{
    max-width: 1200px;
    padding: 20px;
    padding-bottom: 40px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 300px;
    position: relative;
    margin: 20px;
    font-family: 'Lato';
    transition: all 300ms;
    border-radius: 20px;
    padding: 20px;
}
.card:hover{
    box-shadow: 1px 1px 20px -15px #20202049;
}
.card:hover .bio{
    margin-top: -5px;
    border-radius: 0px 0px 20px 20px;
}
.card:hover .foto{
    margin-top: -105px;
    border-radius: 20px 20px 0px 0px;
}

.foto{
    width: 100%;
    height: 220px;
    background:rgb(240, 197, 89);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    transition: all 300ms cubic-bezier(0.5, 0, 0, 0);
    border-radius: 15px;
    /* opacity: 0.5; */ /* Comprueba que el texto esta detrás */
}
.bio{
    width: 100%;
    height: 180px;
    color: #474747;
    background:rgb(255, 235, 171);
    padding: 15px;
    position: relative;
    margin-top:-220px;
    transition: all 300ms cubic-bezier(0.5, 0, 0, 0);
    border-radius: 15px;
}
.bio p{
    font-size: 200px;
    margin-top: 5px;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 7;
    line-clamp: 7;
    overflow: hidden;
    color: #6E3E22;
    font-family: 'Baloo 2';
}
.imglink{
    padding: 2px;
}
footer {
    background-color: #432818 ; color: #FFE6A7
}
a, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
a:hover{
    text-decoration: underline;
    color: white;
}
/* Color de cards */

.tituloQpets{
    font-weight: 1000;
    font-size: xx-large;
    background: #FFE6A7;
    color: #6E3E22;
    text-align: center;
    padding: 60px;
    margin-top: 60px;
}
.foto{
    padding: 100px;
}
